@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: #FFF3F0;
    font-family: 'Raleway', sans-serif;
}
textarea{
    padding: 10px;
    outline-style: none;
    font-family: 'Raleway', sans-serif;
}
/*Footer*/
.footer-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: #eeeeee;
    font-size: 15px;
}
.footer-main{
    display: flex;
    justify-content: center;
    min-height: 90px;
    background-color: #501B1D;
}

/*Button*/
.button-comment{
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}
.send-comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}
.send-comment > textarea {

}
/*Profile page*/
.profilepage-profile-info {
    display: grid;
    grid-template-columns: 30% 70%;
}
.profilepage-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.profilepage-profile-photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.profilepage-photo-hover {
    position: absolute;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #501B1D;
    opacity: 0;
    border-radius: 50%;
    transition: 1s;
}
.profilepage-photo-hover:hover {
    opacity: 50%;
}

/*Home page*/
.homepage-account{
    padding: 10px;
}
.homepage-main-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.more-posts-button{
    border: 1px solid #501B1D;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.homepage-main-create{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    width: 60%;
}
.homepage-input-container{
    text-align:center;
    padding:3%;
    border:thin dashed lightgray;
}
.create-button{
    color:#501B1D;
    background-color:white;
    border:1px solid #501B1D;
    border-radius:5px;
    cursor: pointer;
    padding: 8px;
}
.create-button:active {
    background: #501B1D;
    color: white;
}
.homepage-input-label{
    cursor:pointer;
    margin-top: 10px
}
#input-file{
    display: none;
}
.homepage-main-article-card{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 15px;
    background-color: white;
    margin-bottom: 10px;
    font-size: 18px;
}
.homepage-main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.homepage-main{
    display: flex;
    flex-direction: column;
    min-height: 900px;
    margin: auto;
    width: 50%;
}
.homepage-main-article-comment{
    border-bottom: 1px solid lightgray;
    padding: 5px;
    margin-bottom: 5px;
}
.reply {
    margin-left: 30px;
    font-size: 15px;
}

/*Login*/
.login-input{
    padding: 5px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}
.login-input:focus{
    outline-color: #501B1D;
}
.login-button{
    padding: 5px;
    width: 60%;
    border-color: #501B1D;
    border-radius: 5px;
    background-color: #FFF3F0;
}
input {
    font-family: 'Raleway', sans-serif;
}
button {
    font-family: 'Raleway', sans-serif;
}
/*Signup*/
.signup-input{
    padding:5px;
    margin-bottom: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid black;
}
.signup-input:focus{
    outline-color: #501B1D;
}
.signup-tip{
    font-size: 14px;
}
.signup-button{
    padding: 5px;
    width: 60%;
    border-color: #501B1D;
    border-radius: 5px;
    background-color: #FFF3F0;
}
.lang-button {
    border: 1px solid #501B1D;
    background-color: #FFF3F0;
    margin: 5px;
    cursor: pointer;
}
/*Navbar*/
.navbar-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.navbar-main{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

/*Modal*/
.modal{
    position:fixed;
    left:0;
    top:0;
    right: 0;
    bottom:0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content{
    width: 600px;
    background-color: white;
    border: 1px solid #501B1D;
    border-radius: 5px;
}
.modal-header, .modal-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.modal-title{
    margin:0;
}
.modal-body{
    padding: 10px;
    border-top:1px solid #eee;
    border-bottom: 1px solid #eee;
}
/* #501B1D */
/*Up button*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 1px solid gray; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: white; /* Set a background color */
    color: #501B1D; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    transition: 1s;
}

#myBtn:hover {
    background-color: #501B1D; /* Add a dark-grey background on hover */
    color: white;
}
.dropdown-wrapper{
    border: none
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
/*Loader*/
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 35px;
    height: 35px;
    margin: 8px;
    border: 5px solid #501B1D;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #501B1D transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media (max-width: 500px) {
    .homepage-account {
        display: none;
    }
    .homepage-main-header{
        flex-direction: column;
        align-items: center;
    }
    .homepage-main-create{
        width: 90%;
    }
    .homepage-main {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .navbar-main{
        width: 100%;
    }
    .navbar-block {
        width: 100%;
        border-radius: 0;
    }
    .article-image{
        width: 400px;
    }
    .input-image {
        width: 400px;
    }
    .profilepage-profile-info{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
}

@media not all and (min-resolution: 150dpi)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .article-image {
        width: 300px;
    }
    .input-image {
        width: 300px;
    }
    .homepage-main {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .navbar-main{
        width: 100%;
    }
}}